<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collageautomation2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/ThemeWeather">
        <activity android:name=".faculty_login"></activity>
        <activity android:name=".student_login" />
        <activity android:name=".student_signup" />
        <activity android:name=".admin_dashboard" />
        <activity android:name=".upload" />
        <activity android:name=".sendfeedback" />
        <activity android:name=".send_syllabus" />
        <activity android:name=".send_notification" />
        <activity android:name=".faculty_dashboard" />
        <activity android:name=".download" />
        <activity android:name=".dashboard" />
        <activity android:name=".sign_up" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>